/* CSS Reset & Variables */
:root {
  --bg-color: #0d1116; /* Very dark, slightly blue-tinted background */
  --bg-card: #151b22; /* Slightly lighter card background */
  --primary-yellow: #e2b45f; /* Distinctive warm gold */
  --yellow-hover: #f3cc83;
  --yellow-active: #f3cc83;
  --text-main: #f0f6fc;
  --text-muted: #e6e7e8;
  --border-color: #21262d;
  --font-main: "Manrope", sans-serif;
  --font-serif: "Noto Serif", serif;
} /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* setting 1rem = 10px */
}
body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
} /* nav section style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* background-color: var(--bg-card); */
  position: fixed;
} /* hero section style */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: -1;
}
.hero-bg {
  background: url("../images/foodbg.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(13, 17, 22, 0.4),
    rgba(13, 17, 22, 1)
  );
}
